# Logs
logs
*.log
npm-debug.log*
.DS_Store

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Grunt intermediate storage (http://gruntjs.com/creating-plugins#storing-task-files)
.grunt

# Bower dependency directory (https://bower.io/)
bower_components/

#Build files
public/

# Dependency directories
node_modules/
jspm_packages/

# Optional npm cache directory
.npm

# dotenv environment variables file
.env

# Server File
server.js

#design file
chat.psd
