# Logs

*.log
.DS_Store

# Runtime data

*.pid
*.seed
*.pid.lock


#Build files
public/

# Dependency directories
node_modules/
bower_components/

# npm cache directory
.npm

# dotenv environment variables file
.env

# Server File
server.js

# Tests
tests/
