<!--
| Section: Entry Screen View
| Description: Prompts a user to choose a nickname before proceeding.
| Display Requirements: No nickname set to variable user.nickname
| -->
 <div ng-show="!chat.showChat" class="entry-screen">
  <h1>JOIN #CHAT</h1>
  <label for="nickname">Enter a nickname</label>
  <input type="text" placeholder="/nick" id="nickname" class="text-input nickname" required>

  <button class="button" ng-click="chat.createUser()">Enter</button>
</div>

<!--
| Section: Chat View
| Description: Prompts a user to choose a nickname before proceeding.
| Display Requirements: Nickname set to variable user.nickname
| -->

<div ng-if="chat.showChat">
  <header id="chatHeader">
    <span class="channel-name">{{chat.activechannel}}</span>
  </header>

  <channel-panel activechannel="chat.activechannel" channels="chat.channels"></channel-panel>
  <chat-section activechannel="chat.activechannel" nickname="{{chat.nickname}}" updatechannel="chat.updateChannel" sendmessage="chat.sendMessage"></chat-section>
</div>

