<!--
| Section: Entry Screen View
| Description: Prompts a user to choose a nickname before proceeding.
| Display Requirements: No nickname set to variable user.nickname
| -->
 <div ng-if="!chat.nickname" class="entry-screen">
  <h1>Enter a nickname to join chat</h1>
  <input type="text" placeholder="/nick" id="nickname" class="text-input nickname">
  <button class="button" ng-click="chat.setNickname()">Enter</button>
</div>

<!--
| Section: Chat View
| Description: Prompts a user to choose a nickname before proceeding.
| Display Requirements: Nickname set to variable user.nickname
| -->
<div ng-if="chat.nickname" class="chat-module">
    <header>
      <!-- Mobile first: .channel header CSS inludes hamburger to open chat list. -->
      <div class="channel-header">Channels</div>
      <div class="channel-name">{{chat.activeChannel}}</div>
      <div class="chat-logo">Chat#</div>
    </header>

    <channel-panel activechannel="{{chat.activeChannel}}"></channel-panel>
    <chat-section activechannel="{{chat.activeChannel}}" nickname="{{chat.nickname}}"></chat-section>
</div>
