<section id="chatView">
    <h5 class="join">Joined Channel <span class="bold">{{channelName}}</span></h5>

    <ul class="history-list">
        <li ng-repeat="message in chat.messages" ng-class="userMessage | message.username == user.username">
          <div class="username">{{message.username}}</div>
          <div class="chat-bubble">{{message.text}}</div>
        </li>
        <li class="typing" ng-show="chat.newMessage">...</li>
    </ul>
</section>

<section id="chatField">
  <input type="text" ng-model="chat.newMessage" placeholder="enter your message...">
  <button class="button">Send</button>
</section>
