<section id="chatView">
    <h5 class="join">{{nickname}} Joined Channel <span class="bold">{{activechannel}}</span></h5>

    <ul ng-if="messages.length" class="history-list">
        <li ng-repeat="message in messages" ng-class="{userMessage: message.nickname == nickname}">
          <div class="username">{{message.nickname}}</div>
          <div class="chat-bubble">{{message.message}}</div>
        </li>
        <li class="typing" ng-show="typing">
          <div class="username">{{typingNick}}</div>
          <div class="chat-bubble">. . . </div>
        </li>
    </ul>
</section>

<section id="chatField">
  <input type="text" ng-model="newMessage" ng-change="userTyping()" placeholder="enter your message..." required>
  <button class="button" ng-click="addMessage()">Send</button>
</section>
