//Fonts
$copy-font: 'Open Sans', 'Helvetica', 'Sans-Serif';

//Primary Colors
$main-blue: #1ca6df;
$main-orange: #f78f1e;
$light-blue: #5bbae1;
$light-grey: #e5e5e5;

//Text Colors
$light-text: #ffffff;
$grey-text: #fafafa;
$dark-text: #222222;
$error-text: #ff2222;
